<article class="card post-card">
  {{if .Params.image}}
  <div class="slide">
  <a href="{{.Permalink}}">
    {{ partial "image.html" (dict "Src" .Params.image "Class" "w-100 h-auto rounded" "Alt" .Title) }}
  </a>
  </div>

  <style>
    .slide {
      overflow: hidden;
      border-radius: 10px;
    }

    .slide img {
      object-fit: cover;
      transition: all .3s ease;
    }

    .slide img:hover {
      transform: scale(1.03);
    }
  </style>

  {{end}}
  <div class="card-body">
    <ul class="card-meta list-inline mb-2">

      <!-- {{ if .Params.Author }}
      <li class="list-inline-item mb-2">
        {{ with site.GetPage (.Params.Author | urlize | lower) }}
        <a href="{{.Permalink}}" class="card-meta-author">
          {{if .Params.image}}
          {{ partial "image.html" (dict "Src" .Params.image "Size" "26x26" "Class" "w-auto" "Alt" .Title) }}
          {{else}}
          <img loading="lazy" src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=150&pg&d=identicon">
          {{end}}
          <span>{{ .Title }}</span>
        </a>
        {{ end }}
      </li>
      {{ end }} -->

      <li class="list-inline-item mb-2">
        <span>{{.PublishDate.Format "02 Jan, 2006"}}</span>
      </li>
      <li class="list-inline-item mb-2">
        <ul class="card-meta-tag list-inline">
          {{range .Params.tags}}
          <li class="list-inline-item"><a href="{{site.BaseURL}}tags/{{.| urlize}}">{{.}}</a></li>
          {{end}}
        </ul>
      </li>
    </ul>
    <h4 class="mb-3">
      <a class="post-title" href="{{.Permalink}}">{{.Title}}</a>
    </h4>
    <p>{{ .Summary }}</p>

    <a style="display: flex;align-items: center;" href="{{.Permalink}}" aria-label="More on {{.Title}}">Read Article <i class="las la-angle-right"></i></a>
  
  </div>
</article>