<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>

  <meta name="author" content="{{ site.Params.author }}">
  <meta name="description" content="{{ with .Params.description }} {{.}} {{else}} {{ with site.Params.description }} {{.}} {{end}} {{end}}">

  {{ "<!-- mobile responsive meta -->" | safeHTML}}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
  
  <!-- theme meta -->
  <meta name="theme-name" content="bookworm-light" />

  <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
  <link rel="canonical" href="https://wordwhisperer.co/">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">

  <!-- favicon -->
  {{ partialCached "favicon" . }}

  {{ "<!-- CSS Plugins -->" | safeHTML}}
  {{ partialCached "style.html" . }}

  <!-- google analytics -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6H46KNRCC3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6H46KNRCC3');
  </script>
  <meta name="msvalidate.01" content="ED299E94CC7ACA063FCBFD57937BDEA2" />

</head>
